In [11]:
set={'bharath',1,4,'chintu'}
print(set)
set.add('pinky')
print(set)
set.add(True)
print(set)
set.add(False)
print(set)
set.add(0)
print(set)

{'bharath', 4, 1, 'chintu'}
{1, 4, 'bharath', 'chintu', 'pinky'}
{1, 4, 'bharath', 'chintu', 'pinky'}
{False, 1, 4, 'bharath', 'chintu', 'pinky'}
{False, 1, 4, 'bharath', 'chintu', 'pinky'}

In [ ]:
2.clear()
->.This method removes all the elements from the set

In [52]:
set={'bharath',1,4,'chintu'}

set.clear()

In [ ]:
3.copy()
->.Returns a copy of set.
->.If we modify the original set.The copied set also be modified.
->.If we modified the copied set .That the original set remains be same.That means the original cannot be modified.

In [8]:
set={'bharath',1,4,'chintu'}
print(set)
print(set.copy())

{'bharath', 4, 1, 'chintu'}
{'bharath', 4, 1, 'chintu'}

In [ ]:
4.difference()
->.this method computes the difference of two sets and returns items that are unique to the first set.
->.If we compare A set with B.It returns the different from bothe sets and vice versa.

In [16]:
a={1,2,3,4}
b={4,5,6}
#a.difference(b)
#b.difference(a)

print(a-b)
print(b-a)

{1, 2, 3}
{5, 6}

5.discard()
->.this methos removes the specified item from the set.

In [22]:
a={'bharath','Chintu','Pinky'}
a.discard('Pinky')
print(a)

{'bharath', 'Chintu'}

In [ ]:
6.intersection()
->.This method returns a new set with elements that are common to all sets.
->.intersection can be performed by using & operator or intersection().

In [27]:
a={1,2,3,4,5,6}
b={12,2,3,4,23,34}
#a.intersection(b)
print(a&b)
print(a)

{2, 3, 4}
{1, 2, 3, 4, 5, 6}

In [ ]:
7.intersection_update()
->.The intersection_update() finds the intersection of different sets and updates it to the set that calls the method.

In [26]:
a={1,2,3,4,5,6}
b={12,2,3,4,23,34}
a.intersection_update(b)
print(a)

{2, 3, 4}

In [ ]:
8.isdisjoint()
->.This method returns True if two sets do not have any common elements between two sets .They are disjoint.Else this return false.

In [28]:
a={1,2,3,4,5,6}
b={12,2,3,4,23,34}
a.isdisjoint(b)

False

In [31]:
a={1,43,45,56}
b={12,2,3,4,23,34}
a.isdisjoint(b)

True

In [ ]:
9.issubset()
->.This method returns Tue ,If set A is the subset of B.i.e., if all the elements of set A are present  in set B.Else,It return False.

In [35]:
a={2,3}
b={2,3,4,23,34}
a.issubset(b)

True

In [ ]:
10.issuperset()
->.This method returns True ,if all the elements of A re present in B.Otherwise False

In [37]:
a={2,3,4,23,34}
b={2,3,4,23,34}
a.issuperset(b)

True

In [ ]:
11.pop()
->.This method randomly removes from a set and returns the removied item.

In [55]:
a={1,2,3,34}
a.pop()

1

In [ ]:
12.remove()
->.method removes the specified element from the set

In [40]:
a={1,2,3,4}
a.remove(2)
print(a)

{1, 3, 4}

In [ ]:
13.symmetric_difference()
->.This Method returns all the items present in given sets,except the items in their intersects.
->.it means it does not includes common items ,it reruns except common items.

In [46]:
a={1,2,3,4,5,6,45}
b={4,5,6,7,78}
c={1,3,7,6,23,43}
a.symmetric_difference(b)
#print(a^b^c)

{1, 2, 3, 7, 45, 78}

In [ ]:
14.symmetric_difference_update()
->.This method finds the symmetric difference of two sets(non-similar items of both sets) and updates it to the set that call the method.

In [48]:
a={1,2,3,4,5,6,45}
b={4,5,6,7,78}
c={1,3,7,6,23,43}
a.symmetric_difference_update(b)
print(a)

{1, 2, 3, 7, 45, 78}

In [ ]:
15.union()
->.This method returns a new set with distint elements from all  the sets

In [49]:
a={1,2,3,4,5,6,45}
b={4,5,6,7,78}
c={1,3,7,6,23,43}
a.union(b,c)

{1, 2, 3, 4, 5, 6, 7, 23, 43, 45, 78}

In [ ]:
16.update()
->.This method updates the set,adding items from other iterables

In [51]:
a={1,2,3,4,5,6,45}
b=['bharath','chintu','pinky']
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 45, 'bharath', 'pinky', 'chintu'}